<!DOCTYPE html>

<!--html code start here-->
<html lang="en">
    <!--head tag start-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Linguistic | About Us</title>
        
        <!--link for CSS code-->
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/CSS/style2.css')}}">
    </head>
    <!--head tag end-->
    
    <!--body tag start-->
    <body bgcolor="#EEE2DC">
        <!--page logo design-->
        <nav id="navbar">
            <ul>
                <li class="logo">
                    <h1 style="font-family: 'Lobster', cursive; color: rgb(252, 254,255); font-size: 60px;" >Linguistic</h1>
                    <h1 style="font-family: 'Lobster', cursive; color:white; font-size: 60px;" ></h1>
                </li>
            </ul>
        </nav>
        
        <div class="about-section">
            <div class="inner-container">
                <h1>About Us</h1>
                <p class="text">
                    This is about Us page created by Team Linguistic.We are converting your hinglish text to complete english.We also converting short notations into long one.
                </p>
            </div>
        </div>

        <!--footer tag start-->
		<footer>
            <p></p>
        </footer>
        <!--footer tag end-->

    </body>
    <!--body tag end-->
</html>
<!--html code end here-->
