<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8">
    	<title>Forgot Password</title>
    	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  		<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  		<link rel="stylesheet" href="../../static/CSS/style2.css">
  	</head>
  
	<body>  	
		<div class="container-center">
			<h2>Forgot Password? Don't Worry!</h2>
			<form action="forgot_page" method="post" enctype = "multipart/form-data">
				<h4>
					Just provide your registered email<br> 
					and we can do the rest
				</h4>
				<formgroup>
					<input type="text" name="email"/>
					<label for="email" style="margin-left: 45%;"><br>Email</label>
					<span>Enter your email</span>
				</formgroup>

				<button id="login-btn">Send</button>		
			</form>
			<p>Did you remember? <a href="admin_page">Sign In</a></p>
		</div>
  </body>
  <script  src="../../static/JS/script3.js"></script>
</html>
