<!DOCTYPE html>
<html>
    <head>
        <title>Signin</title>
        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <meta name="keywords" content="Working Signin form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <!-- //Meta tag Keywords -->
        <link href="//fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">
        <!--/Style-CSS -->
        <link rel="stylesheet" href="../../static/CSS/style1.css" type="text/css" media="all" />
        <!--//Style-CSS -->
    </head>

    <body>
        <!-- form section start -->
        <section class="w3l-workinghny-form">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="wrapper">
                    <div class="logo">
                        <h1>Sign In</h1>
                    </div>
                    <div class="workinghny-block-grid">
                        <div class="workinghny-left-img align-end">
                            <img src="../../static/Images/2.png" class="img-responsive" height="300" alt="img">
                        </div>
                        <div class="form-right-inf">
                            
                            <div class="login-form-content">
                                <h2>Where to?</h2>
                                <form action="#" class="signin-form" method="post">
                                    <div class="one-frm">

                                        <label>Name</label>
                                        <input type="text" name="Name"  placeholder="" required="">
                                    </div>
                                    <div class="one-frm">
                                        <label>Password</label>
                                        <input type="password" name="Password"  placeholder="" required="">
                                    </div>
                                    <label class="check-remaind">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                        <p class="remember">Remember Me</p>

                                    </label>
                                    <button class="btn btn-style mt-3">Sign In </button>
                                    <p class="already">Don't have an account? <a href="#signin">Sign Up</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
            <!-- copyright-->
            <div class="copyright text-center">
                <div class="wrapper">
                    <p class="copy-footer-29">All rights reserved | Design by W3layouts</p>
                </div>
            </div>
            <!-- //copyright-->
        </section>
        <!-- //form section start -->

    </body>

</html>