<!DOCTYPE html>
<html>
	<head>
		<title>Page Linguistic</title>
		<link rel="stylesheet" href="../../static/CSS/main.css">
		<!--<link rel="stylesheet" href="{{ url_for('static', filename='../static/CSS/main.css')}}">-->
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 	</head>

  	<body>
	    <header>
      		<div class="menu_bar">
        		<ul>
          			<li class="active"><a href="#">Option</a>
            			<div class="sub-menu">
							<ul>
								<li>
									<a class="use-keyboard-input" href="javascript:virtual();">Virtual Keyboard</a>
								</li>
								
								<li>
									<a href="admin_page">Administrator Login</a>
								</li>
							</ul>
						</div>
					</li>
					
					<li class="linguistic">Linguistic</li>
				</ul>
			</div>
		</header>

		<div class="quote">
			<span style="font-size: 60px;">&ldquo;</span><span style="font-size: 50px;"><b>The</b></span> Limits of our Language are the Limits of our world<span style="font-size: 60px;">&rdquo;</span>
		</div>

		<form action="{{url_for('radio_check')}}" class="form-inline" method="post" enctype = "multipart/form-data">
			<label class="container1" style="font-size: 20px;">
				<input type="radio" name="radiobtn" id = "keyboard_ip" value="1" onclick="demo1()">Keyboard
				<span class="checkmark"></span>
			</label>
			
			<label class="container1" style="font-size: 20px;">       
				<input type="radio" name="radiobtn" id = "voice_ip" value="2" onclick="demo1()">Voice 
				<span class="checkmark"></span>
			</label>
			
			<label class="container1" style="font-size: 20px;">       
				<input type="radio" name="radiobtn" id = "file_ip" value="3" onclick="demo1()">File Input 
				<span class="checkmark"></span>
			</label>
		
			<br><br>
			
			<!--Keyboard Input Design-->
			<textarea type="text" class="hinglish" id = "hinglish" name="hinglish" placeholder="Enter Hinglish Text" disabled></textarea>
			
			<!--Virtual Keyboard Input Design-->
			<textarea type="text" class="use-keyboard-input" placeholder="Enter Hinglish Text" id="text2"></textarea>
			
			<!--Voice Input Design-->
			<div id="result" onclick="startConverting();" ><i class="fa fa-microphone btn btn-danger" aria-hidden="true"></i></div>

			<!--File Input Design-->
			<div class="file-input" id="file_insertion">
				<input type="file" id="file" class="file" name="myfile" accept=".txt">
				<label for="file">
					Select file
					<p class="file-name"></p>
				</label>
			</div>
			<br><br><br><br>
			<a href="#" id="convert1" class="fa" onclick="read_me1()">&#xf028;</a>

			<!--Keyboard & File Output Design-->
			<textarea type="text" class="english" id = "english" name="english" placeholder="Text In English" disabled>{{ etext }}</textarea>
			<a href="#" id="convert2" class="fa" onclick="read_me2()">&#xf028;</a>
			<br><br>      
			
			<a href="radio_check"><button type="submit"><div>Submit</div></button></a>
			<button id="clear" type="clear">Reset</button>
			<button id="downloadlink" download="info.txt">Download</button>
			
		</form>
			
		<br><br><br>
		
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="footer-col">
						<h4>About us</h4>
						<ul>
							<li>
							<a href="about-page">Our mission</a>
							</li>
						</ul>
					</div>

					<div class="footer-col">
						<h4>Help</h4>
						<ul>
						<li>
							<a href="">FAQ</a>
						</li>
						</ul>
					</div>

					<div class="footer-col">
						<h4>Connect with Us</h4>
						<div class="social-links">
							<a href="#"><i class="fab fa-facebook-square"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--footer tag start-->
		
		<script src="../../static/JS/script1.js"></script>

		<script type='text/javascript'>
			function download(filename, text) {
				var element = document.createElement('a');
				element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
				element.setAttribute('download', filename);
				element.style.display = 'none';
				document.body.appendChild(element);
				element.click();
				document.body.removeChild(element);
			}

			// Start file download.
			document.getElementById("downloadlink").addEventListener("click", function(){
				// Generate download of Result.txt file with some content
				var text = document.getElementById("english").value;
				var filename = "Result.txt";
				download(filename, text);
			}, false);
		</script>

		<script type='text/javascript'>
			function read_me1(){
				var convert = document.getElementById('convert1'),
				speech,
				count = 1;

				if(document.getElementById('keyboard_ip').checked){
					/* text input from keyboard */
					speech  = document.getElementById('hinglish');
				}else if(document.getElementById('voice_ip').checked){
					/* text input from voice */
					speech  = document.getElementById('text2');
				}else{
					/* text input from virtual keyboard */
					speech  = document.getElementById('result');
				}

				speech.addEventListener('change',function(){
					speechText = this.value;
					speechSynthesis.cancel();
					convert.innerHTML = "&#xf028;";
				});

				convert.addEventListener('click',function(){
					if(!speechSynthesis.speaking || speechSynthesis.pause()){
						speechText = speech.value;
						var speechVoice = new SpeechSynthesisUtterance();
						var voices = speechSynthesis.getVoices();
						speechVoice.voice = voices[2];
						speechVoice.text = speechText;
						speechVoice.lang = 'en-US';
						speechSynthesis.speak(speechVoice);  
					}

					if(count == 1){
						convert.innerHTML = "&#xf04b;";
						speechSynthesis.resume()
						setTimeout(() => {
							count = 2;
						}, 300);
					
					}else{
						speechSynthesis.paused
						convert.innerHTML = "&#xf04c;";
						count = 1;
					}

					setInterval(() => {
						if(!speechSynthesis.speaking && count == 2){
							convert.innerHTML = "&#xf028;";
							count = 1;
							console.log(count)
						}
					},100);
				
				})
			}

			function read_me2(){
				var convert = document.getElementById('convert2'),
				speech  = document.getElementById('english'),
				count = 1;

				speech.addEventListener('change',function(){
					speechText = this.value;
					speechSynthesis.cancel();
					convert.innerHTML = "&#xf028;";
				});

				convert.addEventListener('click',function(){
					if(!speechSynthesis.speaking || speechSynthesis.pause()){
						speechText = speech.value;
						var speechVoice = new SpeechSynthesisUtterance();
						var voices = speechSynthesis.getVoices();
						speechVoice.voice = voices[2];
						speechVoice.text = speechText;
						speechVoice.lang = 'en-US';
						speechSynthesis.speak(speechVoice);  
					}

					if(count == 1){
						convert.innerHTML = "&#xf04b;";
						speechSynthesis.resume()
						setTimeout(() => {
							count = 2;
						}, 300);
					
					}else{
						speechSynthesis.paused
						convert.innerHTML = "&#xf04c;";
						count = 1;
					}

					setInterval(() => {
						if(!speechSynthesis.speaking && count == 2){
							convert.innerHTML = "&#xf028;";
							count = 1;
							console.log(count)
						}
					},100);
				
				})
			}	
		
		</script>

		<script type='text/javascript'>
			/*Textarea is invisible*/
			document.getElementById('hinglish').style.display = "none";
			document.getElementById('file_insertion').style.display = "none";
			document.getElementById("text2").style.display = "none";
			document.getElementById('result').style.display = "none";
			document.getElementById('convert1').style.display = "none";

			function demo1(){
				Keyboard.close();
				if(document.getElementById('keyboard_ip').checked) {
				
				document.querySelector('#hinglish').value = '';
				document.querySelector('#text2').value = '';
				document.querySelector('#result').value = '';
				document.querySelector('#english').value = '';

				document.getElementById("text2").style.display = 'none';
				document.getElementById('text2').disabled = true;
				/*Unable Input box*/
				document.getElementById('hinglish').disabled = false;
				/*Textarea is visible*/
				document.getElementById('hinglish').style.display = "block";
				/*File Input is invisible*/
				document.getElementById('file_insertion').style.display = "none";
				/*Voice Input is invisible*/
				document.getElementById('result').style.display = "none";
				/*Show play button*/
				document.getElementById('convert1').style.display = "block";
				}else if(document.getElementById('voice_ip').checked) {
				
				document.querySelector('#hinglish').value = '';
				document.querySelector('#text2').value = '';
				document.querySelector('#result').value = '';
				document.querySelector('#english').value = '';

				document.getElementById("text2").style.display = 'none';
				document.getElementById('text2').disabled = true;
				/*Disable Input box*/
				document.getElementById('hinglish').disabled = true;
				/*Textarea is invisible*/
				document.getElementById('hinglish').style.display = "none";
				/*File Input is invisible*/
				document.getElementById('file_insertion').style.display = "none";
				/*Voice Input is invisible*/
				document.getElementById('result').style.display = "block";
				/*Show play button*/
				document.getElementById('convert1').style.display = "block";
				}else{

				document.querySelector('#hinglish').value = '';
				document.querySelector('#text2').value = '';
				document.querySelector('#result').value = '';
				document.querySelector('#english').value = '';

				document.getElementById("text2").style.display = 'none';
				document.getElementById('text2').disabled = true;
				/*Disable Input box*/
				document.getElementById('hinglish').disabled = true;
				/*Textarea is invisible*/
				document.getElementById('hinglish').style.display = "none";
				/*File Input is visible*/
				document.getElementById('file_insertion').style.display = "block";
				/*Voice Input is invisible*/
				document.getElementById('result').style.display = "none";
				/*Hide play button*/
				document.getElementById('convert1').style.display = "none";
				}
			}

			function virtual(){
				/* If any radio button is checked then remove that check*/
				document.getElementById('keyboard_ip').checked = false;
				document.getElementById('voice_ip').checked = false;
				document.getElementById('file_ip').checked = false;
				
				document.getElementById("text2").style.display = 'block';
				document.getElementById('text2').disabled = false;
				/*Unable Input box*/
				document.getElementById('hinglish').disabled = true;
				/*Textarea is visible*/
				document.getElementById("hinglish").style.display = 'none';
				/*File Input is invisible*/
				document.getElementById('file_insertion').style.display = "none";
				/*Voice Input is invisible*/
				document.getElementById('result').style.display = "none";
				/*Show play button*/
				document.getElementById('convert1').style.display = "block";
			}

			var result = document.getElementById('result');
  
  			function startConverting () {
				if('webkitSpeechRecognition' in window) {
					var speechRecognizer = new webkitSpeechRecognition();
      				speechRecognizer.continuous = true;
      				speechRecognizer.interimResults = true;
      				speechRecognizer.lang = 'en-US';
      				speechRecognizer.start();

      				var finalTranscripts = '';

      				speechRecognizer.onresult = function(event) {
          				var interimTranscripts = '';
          				for(var i = event.resultIndex; i < event.results.length; i++){
              				var transcript = event.results[i][0].transcript;
              				transcript.replace("\n", "<br>");
              				if(event.results[i].isFinal) {
                  				finalTranscripts += transcript;
              				}else{
                  				interimTranscripts += transcript;
              				}
          				}
          				result.innerHTML = finalTranscripts + '<span style="color: #999">' + interimTranscripts + '</span>';
      				};
      				speechRecognizer.onerror = function (event) {
				    };
  				}else {
      				result.innerHTML = 'Your browser is not supported. Please download Google chrome or Update your Google chrome!!';
  				}	
  			}

			var clear = document.querySelector('#clear');
			clear.addEventListener('click', function () {
				document.querySelector('#hinglish').value = '';
				document.querySelector('#text2').value = '';
				document.querySelector('#result').value = '';
				document.querySelector('#english').value = '';
			}, false);
		</script>
	</body>
</html>