<!DOCTYPE html>
<html>
  <head>
    <title>Page Linguistic</title>
    <link rel="stylesheet" href="../static/CSS/main.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
 </head>

  <body>
   <header>
    <div class="menu_bar">
      <ul>
        <li class="active"><a href="#"><i class="fa-solid fa-bars"></i>Option</a>
          <div class="sub-menu">
            <ul>
              <li><a href="#">Virtual Keyboard</a></li>
              <li><a href="login_page.html">Administrator Login</a></li>
            </ul>
          </div>
        </li>
        <li class="linguistic">Linguistic</li>
      </ul>
    </div>
   </header>
   <form  class="form-inline" method="post">
        <label class="container1" style="font-size: 20px;">
              <input type="radio" name="radio" id = "keyboard_ip" onclick="demo1()">Keyboard
              <span class="checkmark"></span>
            </label>
            <label class="container1" style="font-size: 20px;">       
              <input type="radio" name="radio" id = "voice_ip" onclick="demo1()">Voice 
              <span class="checkmark"></span>
            </label>
            <label class="container1" style="font-size: 20px;">       
              <input type="radio" name="radio" id = "file_ip" onclick="demo1()">File Input 
              <span class="checkmark"></span>
            </label>
            <br><br>
            <textarea type="text" class="hinglish" id = "hinglish" name="hinglish" placeholder="Enter Hinglish Text" disabled></textarea><br><br>
            
            <textarea type="text" class="english" id = "english" name="english" placeholder="Text In English" disabled></textarea><br><br>
            
            <button type="submit">Submit</button>
            <button type="clear">Clear</button>
            
        </form>
      <br><br><br>
        <footer class="footer">
          <div class="container">
              <div class="row">
                  <div class="footer-col">
                      <h4>About us</h4>
                      <ul>
                          <li><a href="">Our mission</a></li>
                      </ul>
                  </div>

                  <div class="footer-col">
                      <h4>Help</h4>
                      <ul>
                          <li><a href="">FAQ</a></li>
                      </ul>
                  </div>

                  <div class="footer-col">
                      <h4>Connect with Us</h4>
                      <div class="social-links">
                          <a href="#"><i class="fab fa-facebook-square"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
      <!--footer tag start-->
      <script>
        /*Textarea is invisible*/
        document.getElementById('hinglish').style.display = "none";
        
        function demo1(){
          if(document.getElementById('keyboard_ip').checked) {
            /*Unable Input box*/
            document.getElementById('hinglish').disabled = false;
            console.log("Keyboard");
            /*Textarea is visible*/
            document.getElementById('hinglish').style.display = "block";
          }else if(document.getElementById('voice_ip').checked) {
            /*Disable Input box*/
            document.getElementById('hinglish').disabled = true;
            console.log("Voice");
            /*Textarea is invisible*/
            document.getElementById('hinglish').style.display = "none";
          }else{
            /*Disable Input box*/
            document.getElementById('hinglish').disabled = true;
            console.log("File");
            /*Textarea is invisible*/
            document.getElementById('hinglish').style.display = "none";
          }
        }
      </script>
    </body>

</html>