<!DOCTYPE html>
<html>
	<head>
		<title>Page Linguistic</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='../static/CSS/main.css')}}">
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    	<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 	</head>

  	<body>
	    <header>
      		<div class="menu_bar">
        		<ul>
          			<li class="active"><a href="#">Option</a>
            			<div class="sub-menu">
							<ul>
								<li>
									<a class="use-keyboard-input" href="javascript:virtual();">Virtual Keyboard</a>
								</li>
								
								<li>
									<a href="admin_page">Administrator Login</a>
								</li>
							</ul>
						</div>
					</li>
					
					<li class="linguistic">Linguistic</li>
				</ul>
			</div>
		</header>

		<form action="{{url_for('radio_check')}}" class="form-inline" method="post" enctype = "multipart/form-data">
			<label class="container1" style="font-size: 20px;">
				<input type="radio" name="radiobtn" id = "keyboard_ip" value="1" onclick="demo1()">Keyboard
				<span class="checkmark"></span>
			</label>
			
			<label class="container1" style="font-size: 20px;">       
				<input type="radio" name="radiobtn" id = "voice_ip" value="2" onclick="demo1()">Voice 
				<span class="checkmark"></span>
			</label>
			
			<label class="container1" style="font-size: 20px;">       
				<input type="radio" name="radiobtn" id = "file_ip" value="3" onclick="demo1()">File Input 
				<span class="checkmark"></span>
			</label>
		
			<br><br>
			
			<textarea type="text" class="hinglish" id = "hinglish" name="hinglish" placeholder="Enter Hinglish Text" disabled></textarea>
			<textarea type="text" class="use-keyboard-input" placeholder="Enter Hinglish Text" id="text2"></textarea>

			<div class="file-input" id="file_insertion">
				<input type="file" id="file" class="file" name="myfile" accept=".txt">
				<label for="file">
					Select file
					<p class="file-name"></p>
				</label>
			</div>
				
			<br><br><br><br>
			<textarea type="text" class="english" id = "english" name="english" action="download" placeholder="Text In English" disabled>{{ etext }}</textarea>

			<br><br>      
			
			<a href="radio_check"><button type="submit"><div>Submit</div></button></a>
			<a href="clear_btn"><button><div type="clear" value="Proceed">Clear</div></button></a>
			<button id="downloadlink" download="info.txt">Download</button>
			
		</form>
			
		<br><br><br>
		
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="footer-col">
						<h4>About us</h4>
						<ul>
							<li>
							<a href="about-page">Our mission</a>
							</li>
						</ul>
					</div>

					<div class="footer-col">
						<h4>Help</h4>
						<ul>
						<li>
							<a href="">FAQ</a>
						</li>
						</ul>
					</div>

					<div class="footer-col">
						<h4>Connect with Us</h4>
						<div class="social-links">
							<a href="#"><i class="fab fa-facebook-square"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--footer tag start-->
		
		<script src="../../static/JS/script1.js"></script>
		<script type='text/javascript'>
			(function(){
				console.log("inside");
				var textFile = null;
        		makeTextFile = function(text) {
									var data = new Blob([text], {
										type: 'text/plain'
									});

									if (textFile !== null) {
										window.URL.revokeObjectURL(textFile);
									}	
									textFile = window.URL.createObjectURL(data);
									return textFile;
								};

			    var create = document.getElementById('downloadlink');
    			var fileContent = document.getElementById("english").innertext;
				console.log(fileContent);

    			create.addEventListener('click', function() {
        			const fileName = 'demo';
        			document.getElementById("downloadlink").setAttribute("download", fileName);
        			var link = document.getElementById('downloadlink');
        			link.href = makeTextFile(fileContent.value);
        			link.style.display = 'block';
    				}, false);
			})();
		</script>
		<script type='text/javascript'>
			/*Textarea is invisible*/
			document.getElementById('hinglish').style.display = "none";
			document.getElementById('file_insertion').style.display = "none";
			document.getElementById("text2").style.display = "none";

			function demo1(){
				Keyboard.close();
				if(document.getElementById('keyboard_ip').checked) {
				document.getElementById("text2").style.display = 'none';
				document.getElementById('text2').disabled = true;
				document.getElementById("hinglish").style.display = 'block';
				/*Unable Input box*/
				document.getElementById('hinglish').disabled = false;
				/*Textarea is visible*/
				document.getElementById('hinglish').style.display = "block";
				/*File Input is invisible*/
				document.getElementById('file_insertion').style.display = "none";
				}else if(document.getElementById('voice_ip').checked) {
				document.getElementById("text2").style.display = 'none';
				document.getElementById('text2').disabled = true;
				/*Disable Input box*/
				document.getElementById('hinglish').disabled = true;
				/*Textarea is invisible*/
				document.getElementById('hinglish').style.display = "none";
				/*File Input is invisible*/
				document.getElementById('file_insertion').style.display = "none";
				}else{
				document.getElementById("text2").style.display = 'none';
				document.getElementById('text2').disabled = true;
				/*Disable Input box*/
				document.getElementById('hinglish').disabled = true;
				/*Textarea is invisible*/
				document.getElementById('hinglish').style.display = "none";
				/*File Input is visible*/
				document.getElementById('file_insertion').style.display = "block";
				}
			}

			function virtual(){
				console.log("inside the function");
				/* If any radio button is checked then remove that check*/
				document.getElementById('keyboard_ip').checked = false;
				document.getElementById('voice_ip').checked = false;
				document.getElementById('file_ip').checked = false;
				
				document.getElementById("text2").style.display = 'block';
				document.getElementById('text2').disabled = false;
				/*Unable Input box*/
				document.getElementById('hinglish').disabled = true;
				/*Textarea is visible*/
				document.getElementById("hinglish").style.display = 'none';
				/*File Input is invisible*/
				document.getElementById('file_insertion').style.display = "none";
			}
		</script>
	</body>
</html>