<html>
<body bgcolor='#E8BEAC'>
<br><br><br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form class='grid' action='/result' method='POST'>
<div>
<center><textarea  rows='10' cols='70'  id='Speechtotext' <p> {{transcript}}  </textarea></center><br>
<center><i class="fa fa-microphone" style="font-size:28px;color:black" >&nbsp;
<button class='file submit' onClick="alert(' Are you sure to turn micrphone on');">On Recording</button></center></i><br><br><br>

</div>
</body>
</html>





