@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    background-color: #ffffcc;
}

:root{
    --navbar-height: 59px;
}
header{
	position: relative;
	height: 80px;
	background-color: black;
	margin: 0;
	color: #e6ffcc;
	font-size: 20px;		
}

.menu_bar{
	background-color: #000;
	
}

.menu_bar ul{
	display: inline-flex;
	list-style: none;
	color: #fff;
}

.menu_bar ul li{
	width: 120px;
	margin: 15px;
	padding: 15px;
}

.menu_bar ul li a{
	text-decoration: none;
	color: #fff;
}

.active{
	margin-left: 12px;
	height: 22px;
}

.active, .menu_bar ul active.li:hover{
	background-color: dimgray;
	border-radius: 3px;
}

.menu_bar .fa{
	margin-right: 8px;
}

.sub-menu{
	display: none;
}

.menu_bar ul li:hover .sub-menu{
	display: block;
	position: absolute;
	background-color: #000;
	margin-top: 15px;
	margin-left: 15px;
}

.menu_bar ul li:hover .sub-menu ul{
	display: block;
	margin: 10px;
}

.menu_bar ul li:hover .sub-menu ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.menu_bar ul li:hover .sub-menu ul li:last-child{
	border-bottom: none;
}

.menu_bar ul li:hover .sub-menu ul li a:hover{
	color: cadetblue;
}

p{
	font-size: 40px;
	margin: 45px 100px;
	font-weight: bolder;
}	

form{
	margin: 50px 18px 0 600px;
}

/* Form design */
.form-inline {  
  flex-flow: column wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

.linguistic{
	font-size: 32px;
	font-weight: 900;
	color: #ffffb3;
	margin-top: -15px;
}

.hinglish{
	height: 150px; 
	width: 600px;
	box-sizing: border-box;
	border: 3px solid black;
	-webkit-transition: 0.5s;
	transition: 0.5s; 
	outline: none;
	resize: none;
}

.english{
	height: 150px; 
	width: 600px; 
	box-sizing: border-box;
	border: 3px solid black;
	-webkit-transition: 0.5s;
	transition: 0.5s; 
	outline: none;
	resize: none;
}






.container{
	max-width: 1170px;
	margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

/** footer tag CSS starts **/
.footer{
    position: absolute;
	background-color: black;
    padding: 70px 0;
    width: 100%;
}

.footer-col{
   width: 30%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 24px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 19px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: white;
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff49;
}

/** responsive **/
@media(max-width: 767px){
  .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
  .footer-col{
        width: 100%;
    }
}
/** footer tag CSS ends **/
/**file Input**/
.file {
	opacity: 0;
	width: 0.1px;
	height: 0.1px;
	position: absolute;
  }
  
  .file-input label {
	display: block;
	position: relative;
	width: 100px;
	height: 35px;
	border-radius: 25px;
	background: linear-gradient(40deg,#ff6ec4,#7873f5);
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: transform .2s ease-out;
  }
  
  .file-name {
	position: absolute;
	bottom: -35px;
	left: 10px;
	font-size: 0.85rem;
	color: #555;
  }
  
  input:hover + label,
  input:focus + label {
	transform: scale(1.02);
  }
  
  /* Adding an outline to the label on focus */
  input:focus + label {
	outline: 1px solid #000;
	outline: -webkit-focus-ring-color auto 2px;
  }